.container {
  width: 100%;
  padding: 2rem 5rem;
  text-align: left;
  color: #272f3d;
  background-color: #ffffff;
}

.content {
  padding: 0.25rem;
}

.content h3 {
  padding-bottom: 0.25rem;
}

.content a {
  color:#272f3d
}

.content a:hover {
  color: #c39a5f;
}

.button {
  color: #272f3d;
  background-color: #ffffff;
  border: 1px solid #272f3d;
}

.controls {
  padding-bottom: .5rem;
  border-bottom: 1px solid #272f3d;
}
