.container {
  width: 100%;
  padding: 2rem 5rem;
  text-align: left;
  color: #272f3d;
  background-color: #c6d8de;
}

.content {
  padding: 0.25rem;
}
 .content h3 {
   padding-bottom: .25rem;
 }

.button {
  color: #272f3d;
  background-color: #c6d8de;
  border: 1px solid #272f3d;
}