.container {
  width: 40rem;
  margin: 1rem auto;
  background-color: var(--bg-light);
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.message {
  padding: 0.5rem;
  margin: 0.5rem auto;
  text-align: center;
  background-color: var(--alt);
  border: var(--border-dotted);
}

.error {
  color: red;
}
