.container {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #272f3d;
  text-align: center;
}

.container h2 {
  font-size: 2.5rem;
  margin: 5rem 0;
}

.container img {
  display: block;
  margin: 1rem auto;
}
