.primary {
  padding: 0.25rem 0.75rem;
  margin: 0.25rem;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  color: var(--alt);
  background-color: var(--primary);
}

.alt {
  color: var(--primary) !important;
  background-color: var(--alt) !important;
}

.primary:hover,
.primary:active {
  cursor: pointer;
  transform: scale(1.04);
  transition: 75ms;
}
