.primary {
    padding: .25rem .75rem;
    margin: .25rem;
    font-weight: bold;
    /* border: 2px dotted var(--trim-light); */
    border: none;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    color: var(--alt);
    background-color: var(--primary);
}

.alt {
    color: var(--primary) !important;
    background-color: var(--alt) !important;
}

.primary:hover,
.primary:active {
    cursor: pointer;
    /* border: 2px dotted var(--trim-dark); */
    transform: scale(1.1);
    transition: 75ms;
}