.container {
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.title {
  width: 100%;
  padding: 2rem 10%;
  color: #ffffff;
  background-color: transparent;
  transition: 300ms;
}

.title h1 {
  font-size: 3.5rem;
}

.small {
  width: 100%;
  padding: 1rem 10%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, .5);
  transition: 300ms;
}

.small h1 {
  font-size: 2rem;
}

