.container {
  width: 40%;
  padding: 5rem 10rem;
  text-align: left;
  color: #ffffff;
  background-color: #445a3f;
}

.container h3 {
  margin-bottom: 1rem;
  margin-left: 0.25rem;
  font-size: 2rem;
}

.container p {
  margin-left: 0.25rem;
}

.button {
  color: #ffffff;
  background-color: #445a3f;
  border: 1px solid #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

input {
  width: 98%;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  font-size: small;
  color: var(--text);
  border-radius: 0px;
  border: 1px solid #cccccc;
}

input:focus {
  outline: none;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error {
  margin: 0.25rem;
  font-size: small;
}
