@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --trim-light: #fac203;
  --trim-dark: #d89002;
  --bg-light: #286b23;
  --bg-dark: #136306;
  --primary: #4067e2;
  --alt: #fdfdf5;
  --text: #3c3d3a;
  --box-shadow: 0 2px 8px rgba(64, 103, 226, 0.25);
  --border-dotted: 2px dotted var(--trim-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  background-color: #ffffff;
  color: var(--primary);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}
