.container {
  width: 90%;
  margin: 4rem 5rem;
  color: #272f3d;
}

.content {
  margin: 0.25rem;
}

.content h2,
.content h3 {
    padding-bottom: .5rem;
}

.weather {
    margin: 0.25rem;
}

.button {
  color: #272f3d;
  background-color: #ffffff;
  border: 1px solid #272f3d;
}
