.container {
    width:100%;
    height: 600px;
    background-image: url('../../assets/images/CF_Banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}