.container {
  width: 100%;
  height: 600px;
  padding: 15%;
  background-image: url("../../assets/images/CF_Banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.container h2 {
  margin: 0.5rem;
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.65);
}
